.tile {
  background-color: rgb(60, 60, 60);
  height: 62px;
  min-width: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 2px;
  padding: 0px 10px;
}

.empty-tile {
  border: 2px rgb(60, 60, 60) solid;
  height: 58px;
  width: 58px;
  margin: 0px 2px;
}

.content {
  height: calc(
    100% - var(--header-height) - var(--header-border-height) -
      var(--footer-height) - var(--result-height)
  );
  display: flex;
  justify-content: center;
  align-items: center;
}

.result {
  height: var(--result-height);
  display: flex;
  justify-content: center;
  align-items: center;
}
