.tile {
  height: 62px;
  min-width: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 2px;
  padding: 0px 10px;
  position: relative;
}

.index {
  position: absolute;
  bottom: -30px;
  font-size: 20px;
}

.empty-tile {
  border: 2px white solid;
  height: 58px;
  width: 58px;
  margin: 0px 2px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

#result {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
