footer {
  display: flex;
  justify-content: center;
  height: 80px;
}

#arr-numbox {
  width: 400px;
}

input[type="text"] {
  appearance: textfield;
  color: black;
  width: 100px;
  border: none;
  text-align: center;
  margin: 0px 2px;
  padding: 0px;
  outline: none;
  font-size: inherit;
  min-width: 0px;
}

input[type="text"]:focus::placeholder {
  color: transparent;
}

button {
  background-color: rgb(60, 60, 60);
  cursor: pointer;
  margin: 0px 2px;
  border: none;
  padding: 0px;
  width: 100px;
  font-family: inherit;
  color: inherit;
  font-size: inherit;
  font-weight: inherit;
}

button:active {
  background-color: rgb(18, 18, 18);
}