header {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: var(--header-border-height) darkgrey solid;
  height: var(--header-height);
}

ul {
  list-style-type: none;
}

li {
  float: left;
  width: var(--li-width);
  height: var(--li-height);
  position: relative;
  margin: 2px;
}

label {
  background-color: rgb(60, 60, 60);
  cursor: pointer;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  text-align: center;
  line-height: var(--li-height);
  font-size: 24px;
}

label:active {
  background-color: rgb(18, 18, 18);
}

input[type="radio"]:checked + label {
  background: white;
  color: rgb(60, 60, 60);
}
